<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your Role Has Been Updated</h1>
  <p>Hello <%= @user.username %>,</p>
  <p>Your role has been updated by LinkVault App admin.</p><br>
  <p>Thanks and Regards,</p>
  <p> LinkVault App Team</p>
</body>
</html>